POSTGRES_DB=ananya
POSTGRES_USER=ananya
POSTGRES_PASSWORD=ananya
DATABASE_URL=postgresql://ananya:ananya@localhost:5432/ananya

PGADMIN_DEFAULT_EMAIL=admin@ananya.local
PGADMIN_DEFAULT_PASSWORD=yourpassword

